.gradle
/local.properties
/.idea/workspace.xml
/.ideabraries
.DS_Store
ild
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
send.txt
HongYangShareCar.jks
